<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>animeMango.org</title>

    <link rel="icon" href="{{ url_for('static', filename='images/d7p9lv2-25c6666f-537c-44db-a362-d5c9a3b86b91.jpg') }}" type="image/jpg">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='manga-main-site/swiper.min.css') }}">

    <script src="{{ url_for('static', filename='js/main-manga/mobile-script.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/main-manga/app.js') }}" defer></script>
    <script src="{{ url_for('static', filename='manga-main-site/swiper.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='manga-main-site/swiper.js') }}" defer></script>
</head>

<body>
    <nav>
        <div class="navbar-container">
            <div class="logo">Geniusss</div>
            <div class="menu-icons">
                <div class="search-main">
                    <img class="search-button" src="./img-site/search.svg"  alt="">
                    <div class="search-text">Поиск</div>
                </div>
                <div class="menu-toggle">&#9776;</div>
                <ul class="nav-links">
                    <li><a class="text-nav" href="#">манга</a></li>
                    <li><a class="text-nav" href="#">смотреть аниме</a></li>
                   <div class="reg-menu-toggle">
                     <div class="reg-menu-toggle">
                        <button class="button-sh">
                            <span class="vxod">вход</span>
                            <span class="shimmer"></span>
                        </button>
                        <div class="sr"></div>
                        <button class="button-sh">
                            <span class="vxod">регистрация</span>
                            <span class="shimmer"></span>
                        </button>
                     </div>
                   </div>
                </ul>
                <div class="katalog-main">
                    <div id="openModalBtn" class="katalog">Каталог</div>
                    <img class="katalog-img" src="./img-site/free-icon-arrow-right-5082848.png" alt="">
                </div>
                <div class="avatar">
                    <button>
                        <span class="vxod">вход</span>
                        <span class="shimmer"></span>
                    </button>
                    <div class="sr"></div>
                    <button>
                        <span class="vxod">регистрация</span>
                        <span class="shimmer"></span>
                    </button>
                  </div>
            </div>
        </div>
    </nav>
    <input class="input" type="text" placeholder="Search..." />

    <div class="info-site">
        <div class="info-update">
            <div class="update-text">информиция о сайта:</div>
            <p class="info-text">полследнее обновление сайта:<span style="margin-left: 6px;">beta-version</span> </p>
            <p class="info-text">что будет добавлено:<span style="margin-left: 6px;">много чего)</span> </p>
            <p class="info-text">автор:geniusss</p>
        </div>
    </div>

    <div class="vxod-js"></div>

    <div class="modal-main" id="modalMain">
        <div class="modal" id="myModal">
            <div id="modal-windows" class="modal-windows">
                <div class="katalog-main-text">
                    <a href="" class="katalog-text">топ аниме</a>
                    <a href="" class="katalog-text">смотреть аниме</a>
                    <a href="" class="katalog-text">топ манга</a>
                    <a href="" class="katalog-text">читать мангу</a>
                    <a href="" class="katalog-text">кайф!)</a>=gzsdkjhvjhmn<kulbsdlfFHBNMFDSMNBDDHFHJBj?olwe\p'<kQ-FW></kQ-FW>
                    </div>
                        <div class="janr-katalog">
                            <h2 class="start-janr">Жанры</h2>
                        </div>
                <div class="btn-close">X</div>
            </div>
            <div class="over-windows"></div>
        </div>
    </div>
    

    <div class="popular">
       <div class="popular-text-main">
        <div class="popular-text">Популярное</div>
    </div>
    <div class="popular-main">
            <div class="popular-card">
                <div class="slide-container">
                    <div class="slide-content swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="card-s">
                                    <a class="link-swap-pop" href="">   
                                    <div class="image-content">
                                        <span class="overlay"></span>
                                        <div class="swap-anim-card">
                                        <div class="card-im">
                                            <img class="swiper-img" src="/popular-img/atack.jpg" alt="Attaka Titanoo">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-con">
                                    <h2 class="popular-text-name">Атака Титанов</h2>
                                    <p class="description1">Shingeki no Kyojin
                                        2013-2023
                                        <b class="description2">мультфильмы / Япония</b>
                                    </p>
                                </div>
                                    </a>
                            </div>
                        </div>
                        <!-- Add more swiper-slide elements as needed -->
                        <div class="swiper-slide">
                             <div class="card-s">
                                 <a href="">
                                    <div class="image-content">
                                        <span class="overlay"></span>
                                        <div class="card-im">
                                            <img class="swiper-img" src="/popular-img/bleach.jpg">
                                        </div>
                                    </div>
                                    <div class="card-con">
                                        <h2 class="popular-text-name">Блич</h2>
                                        <p class="description1">Bleach: Sennen Kessen-hen 2022-... 
                                            <b class="description2">аниме / Япония</b>
                                            </p>
                                    </div>
                                 </a>
                             </div>
                         </div>
                         <div class="swiper-slide">
                             <div class="card-s">
                                 <a href="">
                                    <div class="image-content">
                                     <span class="overlay"></span>
                                     <div class="card-im">
                                         <im class="swiper-img" src="/popular-img/boba.jpg" alt="Profile Image">
                                     </div>
                                 </div>
                                 <div class="card-con">
                                     <h2 class="popular-text-name">Ковбой Бибоп</h2>
                                     <p class="description1">Kaubôi bibappu
                                        1998-1999
                                        <b class="description2">аниме / Япония</b>
                                        </p>
                                 </div>
                                 </a>
                             </div>
                         </div>
                         <div class="swiper-slide">
                             <div class="card-s">
                                 <a href="">
                                    <div class="image-content">
                                        <span class="overlay"></span>
                                        <div class="card-im">
                                            <img class="swiper-img" src="/popular-img/bers.jpg" alt="Profile Image">
                                        </div>
                                    </div>
                                    <div class="card-con">
                                        <h2 class="popular-text-name">Берсерк</h2>
                                        <p class="description1">Kenpu denki beruseruku
                                           1997-...
                                           <b class="description2">мультфильмы / Япония</b>
                                           </p>
                                    </div>
                                 </a>
                             </div>
                         </div>
                     </div>
                     <!-- Add pagination and navigation buttons -->
                     <div class="swiper-button-next swiper-navBtn"></div>
                     <div class="swiper-button-prev swiper-navBtn"></div>
                     <div class="swiper-pagination"></div>
                 </div>
             </div>
         </div>
        </div>
    </div>
    

   <div class="manga-main">
    <div class="anime-cards">
    <a class="card" href="./manga-main/bleach/bleach.html">
        <img  class="card-image" src="./manga-main/bleach/img-bleach/Bleach-manga.png" alt="Image">
        <div class="card-content">
            <h2 class="card-title">Блич</h2>
            <div class="card-main-text-manga">
                <div class="card-text">
                    <p class="card-glava">Сколько глав: Том-74 Глава-686.5</p>
                    <p class="card-status">Статус: в 2001-2012 гг</p>
                    <p class="card-dlitenost">Длительность эпизода: 24 мин</p>
                    <p class="card-janr">Жанры: Экшен,Приключения,Фэнтези,Сёнен</p>
                    <p class="card-tip">Тип: TV Сериал</p>
                </div>
            </div>
            </div>
        </a>
       
        <a class="card" href="./manga-main/кайдзю №8/кайдзю №8.html">
            <img  class="card-image" src="/manga-main/кайдзю №8/img-кайдзю/кайдзю-манга.jpg" alt="Image">
            <div class="card-content">
                <h2 class="card-title">Кайдзю №8</h2>
                <div class="card-text">
                        <div class="card-kaydzu">
                            <p class="card-glava">Сколько глав: Том-74 Глава-686.5</p>
                            <p class="card-status">Статус: в 2001-2012 гг</p>
                            <p class="card-dlitenost">Длительность эпизода: 24 мин</p>
                            <p class="card-janr">Жанры: Экшен,Приключения,Фэнтези,Сёнен</p>
                            <p class="card-tip">Тип: TV Сериал</p>
                        </div>
                </div>
                </div>
            </div>
        </a>

    <div class="anime-cards">
    <a class="card" href="./manga-main/bleach/bleach.html">
        <img  class="card-image" src="./manga-main/bleach/img-bleach/Bleach-manga.png" alt="Image">
        <div class="card-content">
            <h2 class="card-title">Блич</h2>
            <div class="card-main-text-manga">
                <div class="card-text">
                    <p class="card-glava">Сколько глав: Том-74 Глава-686.5</p>
                    <p class="card-status">Статус: в 2001-2012 гг</p>
                    <p class="card-dlitenost">Длительность эпизода: 24 мин</p>
                    <p class="card-janr">Жанры: Экшен,Приключения,Фэнтези,Сёнен</p>
                    <p class="card-tip">Тип: TV Сериал</p>
                </div>
            </div>
            </div>
        </a>
       
        <a class="card" href="./manga-main/кайдзю №8/кайдзю №8.html">
            <img  class="card-image" src="/manga-main/кайдзю №8/img-кайдзю/кайдзю-манга.jpg" alt="Image">
            <div class="card-content">
                <h2 class="card-title">Кайдзю №8</h2>
                <div class="card-text">
                        <div class="card-kaydzu">
                            <p class="card-glava">Сколько глав: Том-74 Глава-686.5</p>
                            <p class="card-status">Статус: в 2001-2012 гг</p>
                            <p class="card-dlitenost">Длительность эпизода: 24 мин</p>
                            <p class="card-janr">Жанры: Экшен,Приключения,Фэнтези,Сёнен</p>
                            <p class="card-tip">Тип: TV Сериал</p>
                        </div>
                </div>
                </div>
            </div>            
        </a>
</body>
</html>
