<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='manga-main/bleach/bleach.css') }}">



    <script src="{{ url_for('static', filename='js/main-manga/mobile-script.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/main-manga/app.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/manga-menu.js') }}" defer></script>
</head>
<body>
    
    <div class="navbar-container">
        <div class="logo">Geniusss</div>
        <div class="menu-toggle">&#9776;</div>
        <ul class="nav-links">
            <div class="katalog-main">
                <div id="openModalBtn" class="katalog">Каталог</div>
                <img class="katalog-img" src="{{ url_for('static', filename='images/img-site/free-icon-arrow-right-5082848.jpg') }}" alt="">
            </div>

            <div class="search-main">
                <img class="search-button" src="{{ url_for('static', filename='images/img-site/search.svg') }}"  alt="">
                <div class="search-text">Поиск</div>
            </div>
        </ul>
    </div>

    <input class="input" type="text" placeholder="Search..." />

    <div class="modal-main" id="modalMain">
        <div class="modal" id="myModal">
            <div class="modal-windows">
                <div class="katalog-main-text">
                    <a href="" class="katalog-text">топ аниме</a>
                    <a href="" class="katalog-text">смотреть аниме</a>
                    <a href="" class="katalog-text">топ манга</a>
                    <a href="" class="katalog-text">читать мангу</a>
                    <a href="" class="katalog-text">кайф!)</a>
                    </div>
                        <div class="janr-katalog">
                            <h2 class="start-janr">Жанры</h2>
                        </div>
                <div class="btn-close">X</div>
            </div>
            <div class="over-windows"></div>
        </div>
    </div>


   <img class="welcome" src="{{ url_for('static', filename='manga-main/bleach/img-bleach/bleach-anime-big-three-is-iconic.png') }}" alt=""> 

   <div class="main-info">
    <div class="manga-main">
        <img class="main-manga" src="/manga-main/bleach/img-bleach/Bleach-manga.png" alt="">
        <a href="/manga-main/bleach/manga-bleach/manga-bleach.html" class="read-book">Читать сейчас</a>
    </div>
   </div>

   <div class="main-opis">
    <div class="info-data">
        <div class="type-manga">манга</div>
        <div class="tochkaXD">•</div>
        <div class="data-mangi">2001</div>
    </div>
    
    <div class="opisaniya">
        <div class="card-opisaniya">
            <div class="welcome-opis">
                <div class="welcome-opis-text-author">об аниме</div>
                <div class="welcome-opis-text">автор</div>
                <div class="welcome-opis-text">хуйцын</div>
                </div>
                <div class="content-manga">
                    <p class="text-opisaniya">
                        Однажды в спальню Ичиго Куросаки, пятнадцатилетнего юноши, способного видеть призраков с самого детства, врывается Шинигами, Рукия Кучики. Кучики, удивленная тем, что наш герой способен видеть её, поддаётся на провокацию и рассказывает Куросаки о том, кто такие Шинигами и что входит в обязанности проводников душ, но этот разговор прерывает рёв Пустого, злого духа, пожирающего души людей. Ичиго, пытаясь защитить семью, подставляет Рукию и она получает серьёзное ранение, мешающее сражаться. Она решает передать часть своих сил юноше, чтобы он мог постоять за себя, но тот поглощает всю её энергию и одолевает Пустого. В результате Ичиго сам становится Шинигами, а Рукия в то время ослабела и не могла выполнять работу проводника, поэтому она уговаривает Ичиго помочь ей. Так и начались эти увлекательные приключения Ичиго и Рукии! Начальные главы удалены по запросу правообладателя Comix Art
                    </p>
                    <button class="text-manga-btn">Читать больше</button>
                </div>                
        </div>
        <div class="anime-name">Блич</div>
    </div>
</div>

<div class="janr-mobile">
    Жанр: <br>
    Сёнен, Экшан, Приключения, Фентези
</div>


<div class="mobile-opisaniya">
    Описание: <br>
    это история о Ичиго Куросаки, который становится шинигами, божественным защитником душ, и сражается за мир и справедливость.
</div>

<div class="main-comment">
    <div class="text-comment">Комментарии</div>
    <input type="text" placeholder="напишите ком...">
</div>
</body>
</html>